@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Sticky footer styles
-------------------------------------------------- */
/* line 14, ../sass/screen.scss */
html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: white;
}

/* Wrapper for page content to push down footer */
/* line 21, ../sass/screen.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -155px;
  /* Pad bottom by footer height */
  padding: 0 0 195px;
}

/* Set the fixed height of the footer here */
/* line 32, ../sass/screen.scss */
#footer {
  height: 155px;
  background-color: #f5f5f5;
}

/* line 37, ../sass/screen.scss */
.container {
  width: auto;
  max-width: 680px;
}

/* For Welcome
-------------------------------------------------- */
/* line 48, ../sass/screen.scss */
.welcome {
  z-index: -1;
}

/* line 56, ../sass/screen.scss */
.feature.first .content::before {
  content: "↓";
  color: #111;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 36px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: -10%;
  height: 20%;
  width: 10%;
  margin-right: -300px;
  left: 45%;
}

/* line 73, ../sass/screen.scss */
.feature {
  z-index: 20;
  position: relative;
  background-position: center center;
  background-size: cover;
  -moz-background-size: cover;
  vertical-align: middle;
  text-align: center;
  display: table;
  width: 100%;
}
/* line 84, ../sass/screen.scss */
.feature .content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 200px 24px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}
/* line 94, ../sass/screen.scss */
.feature .content.inverse {
  color: white;
}
/* line 96, ../sass/screen.scss */
.feature .content.inverse a {
  color: #cdf;
}
/* line 97, ../sass/screen.scss */
.feature .content.inverse .btn {
  color: #111;
}
/* line 99, ../sass/screen.scss */
.feature p {
  font-size: 16px;
}
/* line 102, ../sass/screen.scss */
.feature p > a {
  color: #a23;
}

/* line 107, ../sass/screen.scss */
.feature:last-child {
  z-index: 10;
  -webkit-box-shadow: 0px 0px 50px black;
  -moz-box-shadow: 0px 0px 50px black;
  box-shadow: 0px 0px 50px black;
  margin-bottom: 30px;
}

/* line 116, ../sass/screen.scss */
.welcome-hero {
  background-image: url(../img/hero_bg.jpg);
  background-position: center 60%;
  background-size: cover;
  -moz-background-size: cover;
  position: fixed;
  min-height: 640px;
}
/* line 123, ../sass/screen.scss */
.welcome-hero .to-order {
  position: absolute;
  top: 16px;
  right: 18px;
}

@media all and (max-width: 1200px) {
  /* line 138, ../sass/screen.scss */
  .welcome-hero {
    background-image: none;
  }
}
@media all and (max-width: 800px) {
  /* line 146, ../sass/screen.scss */
  .feature *, .feature * *, .feature * * * {
    float: none !important;
    text-align: center !important;
  }
}
@media all and (max-width: 599px) {
  /* line 154, ../sass/screen.scss */
  .welcome {
    display: none;
  }
}
/* Customize layout
-------------------------------------------------- */
/* line 163, ../sass/screen.scss */
select {
  height: 34px;
}

/* line 167, ../sass/screen.scss */
iframe {
  max-width: 90%;
}

/* line 172, ../sass/screen.scss */
.form-horizontal p {
  margin-top: 10px;
}

/* line 177, ../sass/screen.scss */
h2 + .form-group {
  margin-top: 20px;
}

/* line 181, ../sass/screen.scss */
.select2-container .select2-choice {
  display: block;
  height: 34px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 188, ../sass/screen.scss */
.thumbnail {
  margin-bottom: 12px;
}
/* line 191, ../sass/screen.scss */
.thumbnail .description {
  height: 210px;
}

/* line 196, ../sass/screen.scss */
#bill-container {
  margin-top: 20px;
}

/* line 200, ../sass/screen.scss */
#bill {
  border-top: 1px solid #ddd;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 208, ../sass/screen.scss */
#bill.fix-bottom {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 212, ../sass/screen.scss */
#bill {
  width: 100% !important;
  position: absolute;
  left: 0;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
}
/* line 219, ../sass/screen.scss */
#bill > * {
  max-width: 680px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 229, ../sass/screen.scss */
#bill.fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100% !important;
  border-bottom: none;
}
/* line 236, ../sass/screen.scss */
#bill.fix-bottom > * {
  max-width: 680px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 245, ../sass/screen.scss */
.displaynone, .show-phone, .show-pad {
  display: none;
}

/* line 249, ../sass/screen.scss */
.products {
  padding-left: 12px;
  padding-right: 12px;
}

@media all and (min-width: 979px) {
  /* line 256, ../sass/screen.scss */
  .col-md-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  /* line 261, ../sass/screen.scss */
  .products {
    margin-top: 32px;
    position: relative;
    margin-right: -100px;
    margin-left: -100px;
  }
}
@media all and (max-width: 900px) {
  /* line 274, ../sass/screen.scss */
  .show-pad {
    display: inline-block;
  }
}
@media all and (max-width: 600px) {
  /* line 281, ../sass/screen.scss */
  .hidden-phone {
    display: none;
  }

  /* line 285, ../sass/screen.scss */
  .show-phone {
    display: inline-block;
  }

  /* line 289, ../sass/screen.scss */
  .clear-phone {
    clear: both;
  }

  /* line 291, ../sass/screen.scss */
  .nav-tabs {
    padding-bottom: 12px;
  }
  /* line 294, ../sass/screen.scss */
  .nav-tabs > li > a, .nav-tabs > li > div {
    padding: 6px 10px !important;
  }

  /* line 299, ../sass/screen.scss */
  .nav-tabs > li > a, .nav-tabs > li > a:hover {
    border-radius: 0;
    border: 1px solid #ddd;
    margin-bottom: 4px;
  }

  /* line 305, ../sass/screen.scss */
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    border: 1px solid #ccc;
    background-color: #eee;
  }

  /* line 310, ../sass/screen.scss */
  .nav-tabs > li > div {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  /* line 315, ../sass/screen.scss */
  input.form-control {
    height: auto;
    font-size: 18px;
  }

  /* line 320, ../sass/screen.scss */
  .product-amount {
    font-size: 18px;
  }

  /* line 324, ../sass/screen.scss */
  .thumbnail {
    margin-bottom: 12px;
  }
  /* line 327, ../sass/screen.scss */
  .thumbnail .description {
    height: auto;
  }

  /* line 332, ../sass/screen.scss */
  .feature .content {
    padding: 68px 24px;
  }
}
/* Customize style
-------------------------------------------------- */
@media all and (min-width: 979px) {
  /* line 346, ../sass/screen.scss */
  .nav-tabs > li > a {
    color: #aaa;
  }

  /* line 352, ../sass/screen.scss */
  .form-horizontal .form-group {
    margin-bottom: 30px;
  }
  /* line 356, ../sass/screen.scss */
  .form-horizontal p {
    margin-bottom: 20px;
  }

  /* line 362, ../sass/screen.scss */
  .form-control, .btn-lg {
    border-radius: 0;
  }

  /* line 366, ../sass/screen.scss */
  .form-control {
    box-shadow: none !important;
    border: 0px;
    border-bottom: 1px solid #777;
    padding: 6px 8px;
  }

  /* line 373, ../sass/screen.scss */
  input.form-control {
    height: 50px;
    font-size: 27px;
    font-family: 'Reenie Beanie', cursive;
    padding-top: 10px;
    padding-bottom: 0px;
    overflow: visible;
    background-color: inherit;
  }

  /* line 383, ../sass/screen.scss */
  .form-control:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #000;
  }

  /* line 388, ../sass/screen.scss */
  textarea {
    border: 1px solid #777 !important;
  }

  /* line 392, ../sass/screen.scss */
  .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  /* line 397, ../sass/screen.scss */
  .col-lg-4.control-label {
    padding-top: 20px;
    margin-right: -18px;
    font-size: 16px;
  }

  /* line 403, ../sass/screen.scss */
  .col-lg-4.control-label:after {
    content: "：";
  }

  /* line 407, ../sass/screen.scss */
  .select2-container {
    padding-top: 14px;
  }

  /* line 411, ../sass/screen.scss */
  .product-amount {
    border: 1px solid #aaa;
  }

  /* line 415, ../sass/screen.scss */
  .product-amount:focus {
    border: 2px solid #8d8;
  }

  /* line 419, ../sass/screen.scss */
  .thumbnail {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 610px;
  }

  /* line 426, ../sass/screen.scss */
  .label {
    border-radius: 0px;
  }
}
/* line 432, ../sass/screen.scss */
body, #wrap {
  background-image: url(../img/ricepaper2.png);
}

/* line 436, ../sass/screen.scss */
#footer {
  background-color: #ddd;
}

/* line 440, ../sass/screen.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-image: url(../img/ricepaper2.png);
}

/* line 444, ../sass/screen.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
