@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Sticky footer styles
-------------------------------------------------- */
/* line 14, ../sass/screen.scss */
html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: white;
}

/* Wrapper for page content to push down footer */
/* line 21, ../sass/screen.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -155px;
  /* Pad bottom by footer height */
  padding: 0 0 195px;
}

/* Set the fixed height of the footer here */
/* line 32, ../sass/screen.scss */
#footer {
  height: 155px;
  background-color: #f5f5f5;
}

/* line 37, ../sass/screen.scss */
.container {
  width: auto;
  max-width: 680px;
}

/* Customize layout
-------------------------------------------------- */
/* line 47, ../sass/screen.scss */
select {
  height: 34px;
}

/* line 51, ../sass/screen.scss */
iframe {
  max-width: 90%;
}

/* line 56, ../sass/screen.scss */
.form-horizontal p {
  margin-top: 10px;
}

/* line 61, ../sass/screen.scss */
h2 + .form-group {
  margin-top: 20px;
}

/* line 65, ../sass/screen.scss */
.select2-container .select2-choice {
  display: block;
  height: 34px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 72, ../sass/screen.scss */
.thumbnail {
  margin-bottom: 12px;
}
/* line 75, ../sass/screen.scss */
.thumbnail .description {
  height: 210px;
}

/* line 80, ../sass/screen.scss */
#bill-container {
  margin-top: 20px;
}

/* line 84, ../sass/screen.scss */
#bill {
  border-top: 1px solid #ddd;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 92, ../sass/screen.scss */
.fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100% !important;
}
/* line 98, ../sass/screen.scss */
.fix-bottom > * {
  max-width: 680px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 107, ../sass/screen.scss */
.displaynone {
  display: none;
}

/* line 111, ../sass/screen.scss */
.products {
  padding-left: 12px;
  padding-right: 12px;
}

@media all and (min-width: 979px) {
  /* line 118, ../sass/screen.scss */
  .col-md-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  /* line 123, ../sass/screen.scss */
  .products {
    margin-top: 32px;
    position: relative;
    margin-right: -100px;
    margin-left: -100px;
  }
}
@media all and (max-width: 600px) {
  /* line 135, ../sass/screen.scss */
  .hidden-phone {
    display: none;
  }

  /* line 139, ../sass/screen.scss */
  .nav-tabs {
    padding-bottom: 12px;
  }
  /* line 142, ../sass/screen.scss */
  .nav-tabs > li > a, .nav-tabs > li > div {
    padding: 6px 10px !important;
  }

  /* line 147, ../sass/screen.scss */
  .nav-tabs > li > a, .nav-tabs > li > a:hover {
    border-radius: 0;
    border: 1px solid #ddd;
    margin-bottom: 4px;
  }

  /* line 153, ../sass/screen.scss */
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    border: 1px solid #ccc;
    background-color: #eee;
  }

  /* line 158, ../sass/screen.scss */
  .nav-tabs > li > div {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  /* line 163, ../sass/screen.scss */
  input.form-control {
    height: auto;
    font-size: 18px;
  }

  /* line 168, ../sass/screen.scss */
  .product-amount {
    font-size: 18px;
  }

  /* line 172, ../sass/screen.scss */
  .thumbnail {
    margin-bottom: 12px;
  }
  /* line 175, ../sass/screen.scss */
  .thumbnail .description {
    height: auto;
  }
}
/* Customize style
-------------------------------------------------- */
@media all and (min-width: 979px) {
  /* line 190, ../sass/screen.scss */
  .nav-tabs > li > a {
    color: #aaa;
  }

  /* line 196, ../sass/screen.scss */
  .form-horizontal .form-group {
    margin-bottom: 30px;
  }
  /* line 200, ../sass/screen.scss */
  .form-horizontal p {
    margin-bottom: 20px;
  }

  /* line 206, ../sass/screen.scss */
  .form-control, .btn-lg {
    border-radius: 0;
  }

  /* line 210, ../sass/screen.scss */
  .form-control {
    box-shadow: none !important;
    border: 0px;
    border-bottom: 1px solid #777;
    padding: 6px 8px;
  }

  /* line 217, ../sass/screen.scss */
  input.form-control {
    height: 50px;
    font-size: 27px;
    font-family: 'Reenie Beanie', cursive;
    padding-top: 10px;
    padding-bottom: 0px;
    overflow: visible;
  }

  /* line 226, ../sass/screen.scss */
  .form-control:focus {
    background-color: #fafafa;
    border-bottom: 2px solid #000;
  }

  /* line 231, ../sass/screen.scss */
  textarea {
    border: 1px solid #777 !important;
  }

  /* line 235, ../sass/screen.scss */
  .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  /* line 240, ../sass/screen.scss */
  .col-lg-4.control-label {
    padding-top: 20px;
    margin-right: -18px;
    font-size: 16px;
  }

  /* line 246, ../sass/screen.scss */
  .col-lg-4.control-label:after {
    content: "ï¼š";
  }

  /* line 250, ../sass/screen.scss */
  .select2-container {
    padding-top: 14px;
  }

  /* line 254, ../sass/screen.scss */
  .product-amount {
    border: 1px solid #aaa;
  }

  /* line 258, ../sass/screen.scss */
  .product-amount:focus {
    border: 2px solid #8d8;
  }

  /* line 262, ../sass/screen.scss */
  .thumbnail {
    border-radius: 0;
    background-color: #fbfbfb;
    max-width: 610px;
  }

  /* line 269, ../sass/screen.scss */
  .label {
    border-radius: 0px;
  }
}
