@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Sticky footer styles
-------------------------------------------------- */
/* line 11, ../sass/screen.scss */
html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 17, ../sass/screen.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -155px;
  /* Pad bottom by footer height */
  padding: 0 0 195px;
}

/* Set the fixed height of the footer here */
/* line 28, ../sass/screen.scss */
#footer {
  height: 155px;
  background-color: #f5f5f5;
}

/* line 33, ../sass/screen.scss */
.container {
  width: auto;
  max-width: 680px;
}

/* line 39, ../sass/screen.scss */
select {
  height: 34px;
}

/* line 44, ../sass/screen.scss */
.form-horizontal p {
  margin-top: 10px;
}

/* line 49, ../sass/screen.scss */
.select2-container .select2-choice {
  display: block;
  height: 34px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 56, ../sass/screen.scss */
.thumbnail {
  margin-bottom: 12px;
}
/* line 59, ../sass/screen.scss */
.thumbnail .description {
  height: 220px;
}

/* line 64, ../sass/screen.scss */
#bill-container {
  margin-top: 20px;
}

/* line 68, ../sass/screen.scss */
#bill {
  border-top: 1px solid #ddd;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

/* line 76, ../sass/screen.scss */
.fix-bottom {
  position: fixed;
  bottom: 0;
}

/* line 81, ../sass/screen.scss */
.displaynone {
  display: none;
}
