/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

$bgc: #fff;

/* Sticky footer styles
-------------------------------------------------- */

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	background-color: $bgc;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -155px;
	/* Pad bottom by footer height */
	padding: 0 0 195px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 155px;
	background-color: #f5f5f5;
}

.container {
	width: auto;
	max-width: 680px;
	//padding: 0 15px;
}


/* Customize layout
-------------------------------------------------- */

select {
	height: 34px;
}

iframe {
	max-width: 90%;
}

.form-horizontal {
	p {
		margin-top: 10px;
	}
}

h2 + .form-group {
	margin-top: 20px;
}

.select2-container .select2-choice {
	display: block;
	height: 26 + 4*2px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.thumbnail {
	margin-bottom: 12px;

	.description {
		height: 210px;
	}
}

#bill-container {
	margin-top: 20px;
}

#bill {
	border-top: 1px solid #ddd;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255, .9);
}

.fix-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100% !important;

	> * {
		max-width: 680px;
		padding-left: 15px;
		padding-right: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}

.displaynone {
	display: none;
}

.products {
	padding-left: 12px;
	padding-right: 12px;
}

@media all and (min-width: 979px) {

	.col-md-4 {
		padding-left: 6px;
		padding-right: 6px;
	}

	.products {
		margin-top: 32px;
		position: relative;
		margin-right: -100px;
		margin-left: -100px;
	}


}

@media all and (max-width: 600px) {

	.hidden-phone {
		display: none;
	}

	.nav-tabs {
		padding-bottom: 12px;
	}

	.nav-tabs > li > a, .nav-tabs > li > a:hover {
		border-radius: 0;
		border: 1px solid #ddd;
		margin-bottom: 4px;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
		border: 1px solid #ccc;
		background-color: #eee;
	}

	.nav-tabs > li > div {
		padding-left: 12px !important;
		padding-right: 12px !important;
	}

	.thumbnail {
		margin-bottom: 12px;

		.description {
			height: auto;
		}
	}

}


/* Customize style
-------------------------------------------------- */


@media all and (min-width: 979px) {


	.nav-tabs > li > a {
		color: #aaa;
	}

	.form-horizontal {

		.form-group {
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 20px;
		}

	}

	.form-control, .btn-lg {
		border-radius: 0;
	}

	.form-control {
		box-shadow: none !important;
		border: 0px;
		border-bottom: 1px solid #777;
		padding: 6px 8px;
	}

	input.form-control {
		height: 50px;
		font-size: 27px;
		font-family: 'Reenie Beanie', cursive;
		padding-top: 10px;
		padding-bottom: 0px;
		overflow: visible;
	}

	.form-control:focus {
		background-color: #fafafa;
		border-bottom: 2px solid #000;
	}

	textarea {
		border: 1px solid #777 !important;
	}

	.form-control:focus {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}

	.col-lg-4.control-label {
		padding-top: 20px;
		margin-right: -18px;
		font-size: 16px;
	}

	.col-lg-4.control-label:after {
		content: "：";
	}

	.select2-container {
		padding-top: 14px;
	}

	.product-amount {
		border: 1px solid #aaa;
	}

	.product-amount:focus {
		border: 2px solid #d88;
	}

	.thumbnail {
		border-radius: 0;
		//border: 1px solid darken(#ffe2e6, 10%);
		background-color: lighten(#eee, 5%);
		max-width: 610px;
	}

	.label {
		border-radius: 0px;
	}

}
