/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

/* Sticky footer styles
-------------------------------------------------- */

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -155px;
	/* Pad bottom by footer height */
	padding: 0 0 195px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 155px;
	background-color: #f5f5f5;
}

.container {
	width: auto;
	max-width: 680px;
	//padding: 0 15px;
}

select {
	height: 34px;
}

.select2-container .select2-choice {
	display: block;
	height: 26 + 4*2px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.thumbnail {
	margin-bottom: 12px;

	.description {
		height: 220px;
	}
}

#bill-container {
	margin-top: 20px;
}

#bill {
	border-top: 1px solid #ddd;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
}

.fix-bottom {
	position: fixed;
	bottom: 0;
}

.displaynone {
	display: none;
}
